@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
}

.bento-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1.2fr;
    grid-template-rows: auto auto auto;
    gap: 25px;
    max-width: 1280px;
    margin: 0 auto;
}

.box {
    border-radius: 24px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.intro {
    grid-column: span 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #95977A;
}

.profile-pic {
    grid-column: 3;
    padding: 0;
    overflow: hidden;
    height: 300px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-column {
    grid-column: 3;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.description {
    background-color: #DFB5A6;
    width: 700px;
    grid-column: span 2;
    grid-row: 2;
    justify-content: center;
}

.contact-button {
    background-color: #445A4D;
    color: #F4EEED;
    width: 195%;
    margin-left: -95%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
}

.aboutme-row {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 25px;
}

.aboutme, .skills {
    grid-column: auto;
    width: 100%;
}

.aboutme {
    background-color: #95977A;
}

.skills {
    background-color: #445A4D;
    color: #F4EEED;
}

.experience {
    background-color: #95977A;
    margin-top: 110px;
    margin-bottom: 50px;
}

.project-row {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project-img {
    width: 600px;
    height: auto;
    grid-column: span 1;
    border-radius: 24px;
    grid-row: 2;
    justify-content: center;
}

.details {
    width: 500px;
    grid-column: span 1;
    grid-row: 2;
    /*align-items: center;*/
    justify-content: center;
}

:root {
    --base: 0.6rem;
}

.arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5px;
    position: relative;
}

.arrow {
    position: absolute;
    width: calc(var(--base) * 3.5);
    height: calc(var(--base) * 0.8);
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.arrow:first-child {
    animation: move-arrow 3s ease-out 1s infinite;
}

.arrow:nth-child(2) {
    animation: move-arrow 3s ease-out 2s infinite;
}

.arrow:before,
.arrow:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #445A4D;
}

.arrow:before {
    left: 0;
    transform: skewY(30deg);
}

.arrow:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-arrow {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(calc(var(--base) * 3.8));
    }
    66.6% {
        opacity: 1;
        transform: translateY(calc(var(--base) * 5.2));
    }
    100% {
        opacity: 0;
        transform: translateY(calc(var(--base) * 8)) scale(0.5);
    }
}